{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{market.img.url}}" width="250" height="300">
        </div>

<div class="col-md-6">
        <h2>{{market.name}}.</h2>
        <h6>{{market.desc}}</h6>
        <h6>Launch Year :{{market.year}}</h6>


<a class='btn btn-warning' href="{% url 'marketapp:update' market.id %}">update</a>
<a class='btn btn-danger' href="{% url 'marketapp:delete' market.id %}">delete</a>
</div>
    </div>
</div>
{% endblock %}
